doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Rotas do Projeto
    link(rel="stylesheet", href="/css/index.css")
  body
    // Barra de navegação
    header.navbar
      .logo
        a.logo-text(href="/") Projetos IOT
     

    // Seção principal com botões
    section.hero
      .overlay
        .hero-content
          h1.hero-title Funcionalidades
          .button-group
            a.get-started-button(href="/chat") Ir para o Chat
            a.get-started-button(href="/send-files") Enviar Arquivos
