extends layout

block layout-content
  div.View
    h1.Banner Projetos IoT
    div.Message
      div.Title
        h3 teste 1
        h1 teste 2
      span.Details teste 3
    div.NavButtons
      a(href="/users")
        div.NavButton Log-in
      a(href="/users/new")
        div.NavButton Novo Usuário
      a(href="/send-files/")
        div.NavButton  Arquivos
        
      
